<head>

    <meta charset="UTF-8">
    <title>Verene - Search Results</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/scripts/search.js"></script>
    <link rel="stylesheet" href="/css/generic.css">

</head>

<html>
<body background="/images/dust_scratches.png" style='font-family: "Josefin Slab"'>

<div id = nav-placeholder></div>

<!--Search Header----------------------------------------------------------------------------------------------------->
<div id = results-search-header>
    <form id = resultsform action = '/results' method = "get">
        <label>Ingredients:</label>
        <input name="q1" type="text" value=<%-JSON.stringify(q1)%> >

        <label >Searching For:</label>
        <input name="q2" id = "general-rs-form" type="text"  placeholder="All Recipes" value=<%-JSON.stringify(q2)%>>
        <span>
            <button id = "recipesearchbtn" class = "searchbtn" value = "submit" form = "resultsform" > Search </button>
        </span>

        <div id = btn-menu-placeholder></div>
    </form>


</div>

<!--Results Section--------------------------------------------------------------------------------------------------->
<div id = result-num>
    <p> <%= locals.count%> results </p>
    <p> Page of</p>
</div>

<div id = "reciperesults" class = "recipe-grid">

    <% for(let i =0; i<locals.hits.length; i++){ %>
        <% var recipe = locals.hits[i].recipe %>
        <% var extraIngr = recipe.ingredientLines.length;%>
        <% if(q1){ %>
           <% extraIngr - JSON.stringify(q1).split(',').length; %>
        <% }%>
        <% extraIngr - JSON.stringify(q1).split(',').length; %>

        <div class = "recipe" id = <%= recipe.uri %>>

            <img src = <%= recipe.image %>>

            <div class = recipe-titlebar>
                <p class = recipe-block-title> <%= recipe.label %> </p>
                <p> <%= extraIngr%> extra ingredients</p>
                <p class = "recipe-source"> <a class = external-link target="_blank" href=<%= recipe.url%> > <%= recipe.source%></a> </p>
                <div class = "recipe-block-btns">
                    <button class = "info">info</button>
                    <% if (favourites.includes(recipe.uri)) {%>
                        <button class = "save saved" data-recipe-id="<%= recipe.uri %>">saved</button>
                    <%}else{%>
                        <button class = "save" data-recipe-id="<%= recipe.uri %>">save</button>
                    <%}%>

                </div>
            </div>
        </div>
    <%} %>
</div>

<!--Saved Confirmation Popup------------------------------------------------------------------------------------------>
<div class = "bottom-popup" >
    <p>Recipe was saved!</p>
</div>

<!--Info Modal-------------------------------------------------------------------------------------------------------->
<div id="info-modal-container"></div>

<!--Footer ------------------------------------------------------------------------------------------------>
<div id="pagin"></div>
<div id = attribution> </div>
</body>
</html>


<script>
    var recipeData = <%-JSON.stringify(locals.hits)%>;
    var paramData = <%-JSON.stringify(searchParams)%>;
    var maxIngr = <%- JSON.stringify(m)%>;
    var resultNum = <%- JSON.stringify(locals.count)%>;
    var page = <%- JSON.stringify(page)%>;
    var favouriteRecipes = <%-JSON.stringify(favourites)%>;

    $(function(){
        $("#info-modal-container").load("/html/infomodal.html");
    });

    $(function(){
        $("#nav-placeholder").load("/html/nav.html");
    });

    $(function () {
        $("#btn-menu-placeholder").load("/html/filterbuttonmenu.html");
    });

    $(function () {
        var pageSize = 12;
        var pageCount =  Math.ceil(parseInt(resultNum) / pageSize);
        var currPage = parseInt(page);
        var pageMin = 1;
        var pageMax = 5;

        if(currPage > 3){
            pageMin = currPage - 2;
            pageMax = currPage + 2;

        }
        if(pageCount<pageMax){
            pageMax=pageCount;
        }

        for(var i = pageMin ; i<=pageMax; i++){
            var pageNum = document.createElement("li");
            pageNum.setAttribute("class","page-num");
            /*var a = document.createElement('a');
            a.innerText = i.toString();

            pageNum.appendChild(a)*/
            pageNum.innerText = i.toString();

            if(i==currPage) {
                pageNum.setAttribute("id", "current-page")
            }
            $("#pagin").append(pageNum);
        }
    });




    $(document).ready(function() {
        $(function() {
        if (paramData.time) {
            $("#btn-menu-placeholder #t").prop("value", JSON.parse(paramData.time));
        }
        });

        $(function() {
            if (maxIngr) {
                $("#btn-menu-placeholder #m").prop("value", JSON.parse(maxIngr));
            }
        })

        $(function() {
            if (paramData.health) {
                var tocheck = $("#btn-menu-placeholder").find('#' + paramData.health);
                tocheck.prop("checked", true);
                console.log(tocheck);
            }
        });

        $("#pagin").on("click", ".page-num", function () {

            console.log($(this).text().toString())

            //this is so it submits with the form
            var pageinput = document.createElement("input");
            pageinput.setAttribute("name", "page");
            pageinput.setAttribute("value", $(this).text().toString());
            pageinput.style.display= "none";
            $("#resultsform").append(pageinput);
            $("#resultsform").submit();
        });
    });
</script>
<script src="../scripts/createinfomodal.js"></script>

<script src="../scripts/deleterecipefunction.js"></script>
<script src="/scripts/results.js"></script>
